name: Create drift issues
on:
  workflow_dispatch:
    inputs: {}
jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{vars.APP_ID}}
          private_key: ${{secrets.APP_PRIVATE_KEY}}
          # issues:write - Create issues
          permissions: >-
            {
              "issues": "write"
            }
          # repository where Drift Detection issues are hosted
          repositories: >-
            ["tfaction-example"]

      - uses: aquaproj/aqua-installer@5e54e5cee8a95ee2ce7c04cb993da6dfad13e59c # v3.1.2
        with:
          aqua_version: v2.55.2
        env:
          AQUA_GITHUB_TOKEN: ${{steps.generate_token.outputs.token}}

      - uses: suzuki-shunsuke/tfaction/js@pr/2167
        with:
          action: create-drift-issues
          github_token: ${{steps.generate_token.outputs.token}}
