---
name: test
on: pull_request
jobs:
  plan:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    permissions: {}
    env:
      TFACTION_TARGET: foo
      TFACTION_WORKING_DIR: foo
      TFACTION_JOB_TYPE: terraform
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - uses: aquaproj/aqua-installer@5e54e5cee8a95ee2ce7c04cb993da6dfad13e59c # v3.1.2
        with:
          aqua_version: v2.55.3
        env:
          AQUA_GITHUB_TOKEN: ${{github.token}}

      - name: Generate token
        id: token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{vars.APP_ID}}
          private_key: ${{secrets.APP_PRIVATE_KEY}}
          # pull_requests:write - Post comments
          # contents:write - Push commits
          permissions: >-
            {
              "pull_requests": "write",
              "contents": "write"
            }
          repositories: >-
            ["${{github.event.repository.name}}"]

      - name: Set up
        uses: suzuki-shunsuke/tfaction/setup@d8646dcdc60933280ab9a229bd2a8d8c6390e1b6 # v1.15.5
        with:
          github_token: ${{steps.token.outputs.token}}

      - name: Plan
        uses: suzuki-shunsuke/tfaction/plan@d8646dcdc60933280ab9a229bd2a8d8c6390e1b6 # v1.15.5
        with:
          github_token: ${{steps.token.outputs.token}}
        env:
          GITHUB_TOKEN: ${{steps.token.outputs.token}}
